@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  background-color: #202020d0;
  color: aliceblue;
}

.panel-dark 
{
  background: #000;
  color: aliceblue;
}

.panel-light
{
  background-color: darkgrey;
  color: gold;
}